{% extends 'base.html.twig' %}

{% block title %}vos task!{% endblock %}

{% block body %}
    <div>
        <div class="m-5">
            {{ form(taskForm) }}
        </div>
    </div>
{% endblock %}
